Repository nasa/GSAP, pull requests merged in 2018-12, with the labels that each got.

#100 Update ProgEvent to support start and end times and locations
  Test/gsapTests/PredictorTests.cpp
  Test/gsapTests/Predictors/BatteryResultTests.cpp
  inc/Messages/ProgEventMessage.h
  inc/Point3D.h
  inc/ProgEvent.h
Labels: A: Predictors, C: Enhancement, PR: Delete Branch, PR: Merge, S: Waiting on Checks

#101 Fix ID conflicts, add MessageWatcher logging, and update EventDrivenObserver
  inc/Messages/MessageId.h
  inc/Messages/MessageWatcher.h
  inc/Observers/EventDrivenObserver.h
  src/Messages/MessageId.cpp
  src/Observers/EventDrivenObserver.cpp
Labels: A: Messaging, A: Observers, C: Enhancement, PR: Keep Branch, PR: Merge, S: Waiting on Checks

#102 Fix typo
  inc/ProgEvent.h
Labels: A: Messaging, C: Bug, PR: Keep Branch, PR: Merge, S: Waiting on Checks

#103 Simple sequential (non-event-driven) prognosers and removed ProgManager
  CMakeLists.txt
  Test/BenchmarkPrognoser/main.cpp
  Test/CMakeLists.txt
  Test/gsapTests/CMakeLists.txt
  Test/gsapTests/FrameworkTests.cpp
  Test/gsapTests/MockClasses.h
  Test/gsapTests/ModelBasedPrognoserTests.cpp
  Test/gsapTests/ModelBasedPrognoserTests.h
  Test/gsapTests/PredictorTests.cpp
  Test/gsapTests/PredictorTests.h
  Test/gsapTests/ProgManagerTests.cpp
  Test/gsapTests/ProgManagerTests.h
  Test/gsapTests/main.cpp
  Test/inc/TestPrognoser.h
  Test/src/TestPrognoser.cpp
  example/progMain.cpp
  inc/ModelBasedPrognoser.h
  inc/Predictors/Predictor.h
  inc/ProgManager.h
  inc/Prognoser.h
  src/Matrix.cpp
  src/ModelBasedPrognoser.cpp
  src/ProgManager.cpp
  src/Prognoser.cpp
  templates/CMakeLists.txt
  templates/EmptyPrognoser.cpp
  templates/EmptyPrognoser.h
Labels: A: Prognosers, C: Enhancement, PR: Keep Branch, PR: Merge, S: Waiting on Checks, S: Waiting on Review

#105 Update ProgEvent to be more general
  Test/gsapTests/EventDrivenPrognoserTests.cpp
  Test/gsapTests/ModelBasedPrognoserTests.cpp
  Test/gsapTests/PredictorTests.cpp
  Test/gsapTests/Predictors/BatteryResultTests.cpp
  inc/Point4D.h
  inc/ProgEvent.h
Labels: A: Messaging, A: Predictors, C: Enhancement, PR: Keep Branch, PR: Merge, S: Waiting on Review

#106 Add batch reporting option to ED Predictor
  Test/gsapTests/CMakeLists.txt
  Test/gsapTests/Predictors/EventDrivenPredictorTests.cpp
  Test/gsapTests/Predictors/EventDrivenPredictorTests.h
  Test/gsapTests/main.cpp
  inc/Messages/MessageId.h
  inc/Messages/PredictionMessage.h
  inc/Predictors/EventDrivenPredictor.h
  src/Messages/MessageId.cpp
  src/Predictors/EventDrivenPredictor.cpp
Labels: A: Messaging, A: Predictors, C: Enhancement, PR: Keep Branch, PR: Merge, S: Waiting on Checks
